html {
    background-image: url("../images/crossline-lines.png");
}

#header-image-container {
    position: relative;
}

#nav-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 20px;
}

li:last-child {
    margin-right: 0px;
}

#nav-banner {
    height: 130px;
    width: 100%;
}

a {
    color: orange;
    font-size: 1.5em;
}

a:hover {
    color: fuchsia;
}

footer {
    margin-top: 350px;
    padding: 5px;
    background-color: #c5c5c5;
    text-align: center;
}

#main-body {
    width: 80%;
    margin: -180px auto;
    border-bottom: medium solid #c5c5c5;
    border-left: medium solid #c5c5c5;
    border-right: medium solid #c5c5c5;
    box-shadow: 0 0 5px;
    position: relative;
    top: 130px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
}

#page-header {
    vertical-align: top;
    font-family: Arial;
    letter-spacing: 4px;
    line-height: 0;
    color: #b9e3ad;
}

#article-picture {
    max-width: 50%;
    height: auto;
    float: left;
    border-style: solid;
    margin: 1%;
    box-shadow: 0 0 8px rgba(74, 114, 15, 0.88);
    border-radius: 5%;
    border-color: olive;
}

#list {
    list-style-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');
    list-style-position: inside
}

#body-container {
    margin-top: 5%;
}